<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    
    <title>Terry Tai's blog. {{page.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Terry Tai's blog, talking about Ruby, Rails, Mac, iPhone." />
    <meta name="author" content="Terry Tai"/>
    <meta name="su" content="terry's blog" />
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/base.css" type="text/css" />
    <script language="javascript" type="text/javascript" src="http://quickribbon.com/ribbon/2010/03/0160489bb8f0bbe36ae39e7d7b0e5f6b.js"></script><noscript><a href="http://quickribbon.com/">Quickribbon</a></noscript>


  </head>
  <body>
   <div id="wrapper">
    <div id="header">
       <img src="/images/terry's-studio.png" alt="terry's blog" />
     </div>
   {{content}}
    <div id="footer"></div>
   
   </div>

  </body>
